.made-modal {
    color: $text-dark;
    padding: 2rem 3.75rem; 
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        max-width: 28rem;
    }
}


.made {

    &__video {
        width: 28rem;
        height: 12.8125rem;
        background-color: #000;
    }
}

.modal__wrapper.open-made {
    display: block;
}

@media(max-width:600px) {
    .made-modal {
        padding: 1.75rem;
        gap: 1.25rem;   

        h2 {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        p {
            font-size: .875rem;
            line-height: 1.25rem;
            max-width: 14rem;
        }
    }

    .made {

        &__video {
            max-width: 14rem;
            max-height: 12.4375rem;
        }
    }
}