.testimonials {
    position: relative;
    padding: 28.25rem 0rem 12.9375rem;
    background: url(../assets/testimonials/bg-min.jpg) center / auto no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        max-width: 63.3125rem;
        position: absolute;
        top: -5.875rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 60.5rem;
        overflow: hidden;
    }

    &__wrapper {
        display: flex;
        width: 300%;
        gap: .625rem;
        transition: transform 0.5s ease;
    }

    &__item {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.875rem;
        text-align: center;
    }

    &__text {
        padding: 2.4375rem 6.8125rem 2.9375rem;
        background-color: $green;
        border-radius: 1.5rem;
        color: $text-light;
    }

    &__dots {
        display: flex;
        gap: 1.125rem;
        align-self: center;
        

        span {
            display: block;
            border-radius: 50%;
            width: .75rem;
            height: .75rem;
            background-color: #D9D9D9;
            transition: all 0.3s ease;

            &:hover {
                background-color: $green;
            }

            &.active {
                background-color: $green;
            }
        }
    }
}

@media(max-width:1024px) {
    .testimonials {
        padding: 13.625rem 0rem 23.9375rem;

        &__heading {
            top: 0;
            transform: translate(-50%,-50%);
            max-width: calc(350px + (704 - 350) * ((100vw - 425px)/(768 - 425)));
        }

        &__slider {
            max-width: calc(350px + (704 - 350) * ((100vw - 425px)/(768 - 425)));
        }

        &__text {
            font-size: .875rem;
            line-height: 1.625rem;
        }
    }
}

@media(max-width:426px) {
    .testimonials {
        padding: 11.25rem 0rem 24.625rem;
        background-repeat: repeat-y;

        &__heading {
            top: -1.25rem;
            transform: translate(-50%, 0);
            max-width: 17.5rem;
        }

        &__slider {
            max-width: 17.5rem;
        }

        &__text {
            font-size: .875rem;
            line-height: 1.625rem;
            padding: 2.125rem 2.4375rem;
        }
    }
}