@import './LocationModal/locationsModal';
@import './FranchiseModal/franchiseModal';
@import './HowMadeModal/howMadeModal';

.modal__wrapper {
    display: none;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100vw;
    overflow-y: hidden;
    background-color: rgba(140, 148, 148, .5);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $text-light;
    border: 2px solid #F8D24E;
    border-radius: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.modal__title {
    font-family: $Seymour;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        display: block;
        width: 1.25rem;
        height: .125rem;
        background-color: $text-dark;

        &:first-child {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
            margin-top: -0.125rem;
        }
    }
}

