@import url(d:\IT\Portfolio-projects\ice-cream\src\styles\reset.css);
@import url(d:\IT\Portfolio-projects\ice-cream\src\styles\normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Seymour+One&display=swap");
.fz-14_reg {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25rem;
}

.fz-16_reg {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75rem;
  letter-spacing: 0.04em;
}

.fz-16_med {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875rem;
  letter-spacing: 0.04em;
}

.subtitle {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: "Seymour One", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #F8D24E;
}

::-webkit-scrollbar-thumb:hover {
  background: #84A178;
}

body, a, button {
  cursor: url(../assets/cursor/Cursor.svg), auto;
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

body {
  overflow-x: hidden;
}

body.disable-scroll {
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  border-radius: .625rem;
  background-color: #fff;
  padding: .75rem 2.125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.0625rem;
}

.btn_yellow-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  background-color: #F8D24E;
  border: none;
}

.btn_yellow-bg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_yellow-bg:hover {
  background-color: #0A8817;
}

.btn_yellow-bg:active {
  background-color: #0A8817;
  color: #FCFCFC;
}

.btn_yellow-bg:active path {
  stroke: #FCFCFC;
}

.btn_yellow-brd {
  border: 2px solid #F8D24E;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}

.btn_yellow-brd:hover {
  border: 2px solid #0A8817;
}

.btn_yellow-brd:active {
  color: #FCFCFC;
  border: 2px solid #0A8817;
}

.btn_yellow-brd path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_yellow-brd:active path {
  stroke: #FCFCFC;
}

.btn_no-brd {
  border: none;
  color: #F8D24E;
  background-color: inherit;
}

.btn_no-brd:hover {
  color: #0A8817;
}

.btn_no-brd:active {
  color: white;
}

.header {
  background-color: #84A178;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.125rem;
}

.header__logo path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo:hover path {
  fill: #FCFCFC;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
}

.header__menu-item {
  list-style: none;
}

.header__menu-link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FCFCFC;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu-link:hover {
  color: #F8D24E;
}

.container {
  max-width: 96.875rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .375rem;
  justify-self: end;
  margin-right: 2rem;
  display: none;
}

.burger__item {
  display: block;
  width: 1.5rem;
  background-color: #FCFCFC;
  border: 2px solid #FFFFFF;
  border-radius: .625rem;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #84A178;
  padding: 1.25rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.mobile__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mobile__close span {
  display: block;
  width: 1.875rem;
  height: .125rem;
  background-color: #FCFCFC;
  border-radius: 10px;
}

.mobile__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile__close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -0.125rem;
}

.mobile__menu {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.mobile__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 80%;
}

.mobile__item {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6875rem;
}

.mobile__link {
  text-decoration: none;
  color: #FCFCFC;
}

.mobile__link:active {
  color: #131313;
}

.header.open .mobile {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 768px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 9.5rem;
        grid-template-columns: 1fr 3fr 9.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .btn {
    display: none;
  }
}

@media (max-width: 426px) {
  .header__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header .btn_yellow-bg {
    display: none;
  }
  .burger {
    margin-right: .25rem;
  }
  .mobile {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    padding-bottom: 3.9375rem;
  }
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__item {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
  }
  .mobile .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.heading {
  padding: 2.8125rem 0rem 4.0625rem;
  background-color: #84A178;
  position: relative;
}

.heading__container {
  position: relative;
  z-index: 5;
}

.heading__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 3rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 22.9375rem;
  margin-bottom: 1.75rem;
  color: #FCFCFC;
}

.heading__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .75rem;
  margin-bottom: 2.625rem;
}

.heading__gen-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .875rem;
  color: #FCFCFC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__gen-info img {
  width: 14.0625rem;
}

.heading__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  max-width: 12.5rem;
}

.heading__text img {
  width: 2.5rem;
}

.heading__locations {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.heading__cafes-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
  text-align: right;
  color: #FCFCFC;
}

.heading__cafes-count span {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 3.5rem;
  letter-spacing: 0.04em;
  color: #131313;
  text-transform: uppercase;
}

.heading__dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/main-screen/dots-min.png) center bottom/100% no-repeat;
  z-index: 0;
}

.heading__ice-cream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/main-screen/ice-cream.png) 80% bottom/30% no-repeat;
  z-index: 0;
}

@media (max-width: 768px) {
  .heading {
    padding: 1.75rem 0 .8125rem;
  }
  .heading__title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    max-width: 11.4375rem;
    margin-bottom: 1.25rem;
  }
  .heading__title span {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: .8125rem;
  }
  .heading__buttons {
    margin-bottom: 1.75rem;
  }
  .heading__buttons .btn {
    padding: .625rem .4375rem;
    font-weight: 600;
    font-size: .5rem;
    line-height: .625rem;
  }
  .heading__gen-info img {
    width: 9.5rem;
  }
  .heading__text {
    max-width: 9.4375rem;
    gap: 1rem;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.0625rem;
  }
  .heading__text img {
    width: 2.5rem;
  }
  .heading__locations {
    gap: 1.25rem;
    margin-right: 2rem;
  }
  .heading__cafes-count {
    font-weight: 400;
    font-size: .5rem;
    line-height: .625rem;
  }
  .heading__cafes-count span {
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  .heading__ice-cream {
    background-size: 37%;
  }
  .heading__dots {
    background: url(/src/assets/main-screen/dots-tablet-min.png) center bottom/100% no-repeat;
  }
}

@media (max-width: 426px) {
  .heading__title {
    font-size: 1.625rem;
    line-height: 2.0625rem;
    max-width: 15.625rem;
    margin-bottom: 2rem;
  }
  .heading__buttons {
    margin-bottom: 15rem;
  }
  .heading__gen-info {
    display: none;
  }
  .heading__locations {
    display: none;
  }
  .heading__dots {
    background: url(/src/assets/main-screen/dots-mobile-min.png) center bottom/100% no-repeat;
  }
  .heading__ice-cream {
    background-position: center bottom;
    background-size: 60%;
  }
}

@media (min-width: 1600px) {
  .heading__dots {
    background-size: calc(1520px + (1568 - 1520) * ((100vw - 1600px)/(1960-1600)));
  }
  .heading__ice-cream {
    background-size: calc(480px + (588 - 480) * ((100vw - 1600px)/(1960-1600)));
    background-position-x: 76%;
  }
}

.products {
  padding: 3.75rem 0 3.5625rem;
  background: url(../assets/products/bg-min.jpg) center/cover no-repeat;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__subtitle {
  margin-bottom: .75rem;
}

.products__title {
  margin-bottom: 18.75rem;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  row-gap: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  max-width: 23.125rem;
  padding: 10rem 3.875rem 7.5rem;
  position: relative;
  background-color: #AEC6A5;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.products__item:nth-child(2) {
  background-color: #EFD478;
}

.products__item:nth-child(3) {
  background-color: #D6936D;
}

.products__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 18.75rem;
}

.products__item-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products__description {
  text-align: center;
}

.products__arrow {
  position: absolute;
  bottom: 3.75rem;
}

.products__arrow path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products__arrow:hover path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #FCFCFC;
}

@media (max-width: 1024px) {
  .products__subtitle {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
  .products__title {
    font-size: 2.125rem;
    line-height: 2.6875rem;
    margin-bottom: 12.5rem;
  }
  .products__wrapper {
    gap: 1rem;
    row-gap: 10rem;
  }
  .products__item {
    max-width: 14rem;
    padding: 10.875rem 1.625rem 6.8125rem;
  }
  .products__img {
    max-width: 12.5rem;
  }
  .products__item-title {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
  .products__description {
    font-size: .875rem;
    line-height: 1.5625rem;
  }
  .products__arrow {
    bottom: 1.25rem;
  }
}

.made {
  padding: 3.75rem 0 11.25rem;
  background-color: #84A178;
  color: #FCFCFC;
}

.made__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.made__subtitle {
  margin-bottom: .75rem;
}

.made__title {
  margin-bottom: 5.125rem;
}

.made__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
  margin-bottom: 3.75rem;
}

.made__image {
  max-width: 31.25rem;
}

.made__description {
  max-width: 28.9375rem;
}

.made__description article:not(:last-child) {
  margin-bottom: .5rem;
}

.made__description article:not(:first-child) {
  font-size: .875rem;
  line-height: 1.6875rem;
}

.made__description article:last-child {
  margin-bottom: 3rem;
}

.made__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  row-gap: 1.75rem;
}

.made__stats-item {
  max-width: 23.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.made__stats-item img {
  max-width: 3.125rem;
  margin-bottom: 2.5rem;
}

.made__stats-item h4 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 4.4375rem;
}

.made__stats-item p {
  text-align: center;
}

@media (max-width: 1024px) {
  .made {
    padding-bottom: 12.75rem;
  }
  .made__container {
    padding: 0 2rem;
  }
  .made__subtitle {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
  .made__title {
    font-size: 2.125rem;
    line-height: 2.6875rem;
    text-align: center;
  }
  .made__content {
    gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .made__image {
    max-width: 21.25rem;
    margin-bottom: 0;
  }
  .made__description {
    max-width: 20.75rem;
  }
  .made__description article {
    font-size: .75rem;
    line-height: 1.3125rem;
  }
  .made__stats {
    gap: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .made__stats-item {
    max-width: 9.5rem;
  }
  .made__stats-item h4 {
    font-size: 3rem;
    line-height: 3.6875rem;
  }
  .made__stats-item p {
    font-size: .875rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 426px) {
  .made {
    padding-bottom: 3.75rem;
  }
  .made__subtitle {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .made__title {
    font-size: 1.875rem;
    line-height: 2.375rem;
    margin-bottom: 2rem;
  }
  .made__content {
    gap: 2.5rem;
    margin-bottom: 2.625rem;
  }
  .made__image {
    max-width: 17.5rem;
  }
  .made__description {
    text-align: center;
    font-size: .75rem;
    line-height: 1.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .made__stats {
    gap: 1.6875rem;
  }
  .made__stats-item h4 {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
  .made__stats-item p {
    font-size: .75rem;
    line-height: 1.25rem;
  }
}

.testimonials {
  position: relative;
  padding: 28.25rem 0rem 12.9375rem;
  background: url(../assets/testimonials/bg-min.jpg) center/auto no-repeat;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__heading {
  max-width: 63.3125rem;
  position: absolute;
  top: -5.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  max-width: 60.5rem;
  overflow: hidden;
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  gap: .625rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.testimonials__item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
}

.testimonials__text {
  padding: 2.4375rem 6.8125rem 2.9375rem;
  background-color: #84A178;
  border-radius: 1.5rem;
  color: #FCFCFC;
}

.testimonials__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonials__dots span {
  display: block;
  border-radius: 50%;
  width: .75rem;
  height: .75rem;
  background-color: #D9D9D9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials__dots span:hover {
  background-color: #84A178;
}

.testimonials__dots span.active {
  background-color: #84A178;
}

@media (max-width: 1024px) {
  .testimonials {
    padding: 13.625rem 0rem 23.9375rem;
  }
  .testimonials__heading {
    top: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: calc(350px + (704 - 350) * ((100vw - 425px)/(768 - 425)));
  }
  .testimonials__slider {
    max-width: calc(350px + (704 - 350) * ((100vw - 425px)/(768 - 425)));
  }
  .testimonials__text {
    font-size: .875rem;
    line-height: 1.625rem;
  }
}

@media (max-width: 426px) {
  .testimonials {
    padding: 11.25rem 0rem 24.625rem;
    background-repeat: repeat-y;
  }
  .testimonials__heading {
    top: -1.25rem;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    max-width: 17.5rem;
  }
  .testimonials__slider {
    max-width: 17.5rem;
  }
  .testimonials__text {
    font-size: .875rem;
    line-height: 1.625rem;
    padding: 2.125rem 2.4375rem;
  }
}

.locs {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 0.04em;
  background-color: #84A178;
}

.locs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  position: relative;
}

.locs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-transform: translateY(-95px);
          transform: translateY(-95px);
}

.locs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 1.5rem;
  padding: 2.5rem;
  max-width: 23rem;
}

.locs__title {
  text-align: center;
  display: inline;
  padding: 0rem .625rem;
  max-width: 4.6875rem;
  border-radius: 6px;
  background-color: #F8D24E;
}

.locs__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  max-width: 17.625rem;
}

.locs__address_orange {
  color: #D6936D;
}

.locs__divider {
  width: 100%;
  height: .125rem;
  background-color: #E1E1E1;
}

.locs__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locs__schedule_grey {
  color: #ABABAB;
}

.locs__schedule_grey:first-child {
  margin-bottom: .5rem;
}

.locs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7.5rem;
}

.locs__btns button {
  width: 12.25rem;
}

@media (max-width: 1024px) {
  .locs__container {
    padding-top: 17.75rem;
  }
  .locs__wrapper {
    gap: 1rem;
    width: 95%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -18.75rem);
            transform: translate(-50%, -18.75rem);
  }
  .locs__item {
    padding: 2.5rem 1.6875rem;
    max-width: 14rem;
    font-size: 14px;
    line-height: 1.625rem;
  }
  .locs__address {
    max-width: 10.8125rem;
  }
  .locs__btns {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 741px) {
  .locs__container {
    padding-top: 55.25rem;
  }
}

@media (max-width: 489px) {
  .locs__container {
    padding-top: 62.5rem;
  }
  .locs__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translate(-50%, -22.5rem);
            transform: translate(-50%, -22.5rem);
  }
  .locs__item {
    padding: 2.5rem 2rem;
    max-width: 17.5rem;
    font-size: .75rem;
    line-height: 1.375rem;
    gap: 1.5rem;
  }
  .locs__title {
    line-height: 1rem;
  }
  .locs__address {
    max-width: 13.25rem;
  }
  .locs__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .locs__btns button {
    height: 2.625rem;
  }
}

.footer {
  background-color: #84A178;
  color: #FCFCFC;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.375rem;
}

.footer__title {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 31.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title span {
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 4.4375rem;
  letter-spacing: 0.06em;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.footer__links {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.footer__links circle {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__links svg:hover circle {
  fill: #FCFCFC;
}

.footer__phone {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #131313;
}

.footer__phone span {
  color: #FCFCFC;
}

.footer__divider {
  display: block;
  width: 100%;
  height: .125rem;
  background-color: #E1E1E1;
  margin-bottom: .75rem;
}

.footer__rights {
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  text-align: center;
  margin-bottom: .6875rem;
}

@media (max-width: 1024px) {
  .footer__content {
    margin-bottom: 2rem;
  }
  .footer__title {
    max-width: 22rem;
    font-size: 1.625rem;
    line-height: 2rem;
  }
  .footer__title span {
    font-size: 3rem;
    line-height: 3.6875rem;
  }
  .footer__phone {
    font-size: .875rem;
    line-height: 1.625rem;
  }
}

@media (max-width: 500px) {
  .footer__content {
    display: block;
  }
  .footer__title {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 2.625rem;
    max-width: 14.8125rem;
  }
  .footer__title span {
    font-size: 2.125rem;
    line-height: 2.5625rem;
    letter-spacing: 0.04em;
  }
  .footer__phone {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: .75rem;
    line-height: 1.375rem;
  }
}

.locs-modal {
  padding: 2rem 3.75rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .locs-modal h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .locs-modal iframe {
    max-width: 14.0625rem;
  }
}

@media (max-width: 426px) {
  .locs-modal {
    padding: 1.75rem;
  }
}

.modal__wrapper.open-locs {
  display: block;
}

.modal__wrapper.open-frnch {
  display: block;
}

.frnch-modal {
  padding: 2rem 3.75rem;
}

.frnch-modal h2 {
  text-align: center;
  max-width: 20.125rem;
  margin-bottom: 1.5rem;
}

.frnch-modal p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}

.frnch__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frnch__form input {
  width: 23rem;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: .625rem;
  padding: .6875rem 1rem;
  margin-bottom: 1rem;
}

.frnch__form textarea {
  resize: none;
  width: 23rem;
  max-height: 5.25rem;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: .625rem;
  padding: .6875rem 1rem;
  margin-bottom: 2rem;
}

.frnch__form button {
  max-width: 7.5625rem;
}

@media (max-width: 1129px) {
  .frnch-modal {
    padding: 1rem 1.875rem;
  }
  .frnch-modal p {
    font-size: .75rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .frnch-modal {
    padding: 25px 1.875rem;
  }
  .frnch-modal h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0;
    margin-bottom: 1.25rem;
  }
  .frnch-modal p {
    max-width: 13.875rem;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.0;
  }
  .frnch-modal .close-btn {
    -webkit-transform: translate(0.625rem, -0.9375rem);
            transform: translate(0.625rem, -0.9375rem);
  }
  .frnch__form input {
    max-width: 14rem;
    padding: .5rem .75rem;
    max-height: 2rem;
    margin-bottom: .75rem;
  }
  .frnch__form textarea {
    max-width: 14rem;
    padding: .5rem .75rem;
    margin-bottom: 1.5rem;
    max-height: 4rem;
  }
}

.made-modal {
  color: #131313;
  padding: 2rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.made-modal p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  max-width: 28rem;
}

.made__video {
  width: 28rem;
  height: 12.8125rem;
  background-color: #000;
}

.modal__wrapper.open-made {
  display: block;
}

@media (max-width: 600px) {
  .made-modal {
    padding: 1.75rem;
    gap: 1.25rem;
  }
  .made-modal h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .made-modal p {
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 14rem;
  }
  .made__video {
    max-width: 14rem;
    max-height: 12.4375rem;
  }
}

.modal__wrapper {
  display: none;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
  background-color: rgba(140, 148, 148, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: .625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal a {
  text-decoration: none;
}

.modal__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-btn span {
  display: block;
  width: 1.25rem;
  height: .125rem;
  background-color: #131313;
}

.close-btn span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -0.125rem;
}
/*# sourceMappingURL=App.css.map */