.heading {
    padding: 2.8125rem 0rem 4.0625rem;
    background-color: $green;
    position: relative;
    
        &__container {
            position: relative;
            z-index: 5;
        }

		&__title {
            font-family: $Seymour;
            font-weight: 400;
            font-size: 2.375rem;
            line-height: 3rem;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            max-width: 22.9375rem;
            margin-bottom: 1.75rem;
            color: $text-light;
		}

		&__buttons {
            display: flex;
            gap: .75rem;
            margin-bottom: 2.625rem;
		}

		&__gen-info {
            display: flex;
            gap: .875rem;
            color: $text-light;
            align-items: center;
		}

		&__text {
            display: flex;
            flex-direction: column;
            gap: 2rem; 
            max-width: 12.5rem;

            img {
                width: 2.5rem;
            }
		}

		&__locations {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;
		}

		&__cafes-count {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            text-align: right;
            color: $text-light;

            span {
                font-weight: 900;
                font-size: 2.875rem;
                line-height: 3.5rem;
                letter-spacing: 0.04em;
                color: $text-dark;
                text-transform: uppercase;
            }
		}

		&__dots {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../assets/main-screen/dots-min.png) center bottom / 100% no-repeat;
            z-index: 0;
		}

		&__ice-cream {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../assets/main-screen/ice-cream.png) 80% bottom / 30% no-repeat;
            z-index: 0;
		}
}
