.fz-14_reg {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25rem;
}

.fz-16_reg {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
}

.fz-16_med {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875rem;
    letter-spacing: 0.04em;
}

.subtitle {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.3125rem;
    letter-spacing: 0.04em;
}

.title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}