.btn {
    border-radius: .625rem;
    background-color: #fff;
    padding: .75rem 2.125rem;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.0625rem;

    &_yellow-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: $yellow;
        border: none;

        path {
            transition: all 0.3s ease;
        }

        &:hover {
            background-color: #0A8817;
        }

        &:active {
            background-color: #0A8817;
            color: $text-light;

            path {
                stroke: $text-light;
            }
        }
    }

    &_yellow-brd {
        border: 2px solid $yellow;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        &:hover {
            border: 2px solid #0A8817;
        }

        &:active {
            color: $text-light;
            border: 2px solid #0A8817;
        }

        path {
            transition: all 0.3s ease;
        }

        &:active {
            path {
                stroke: $text-light;
            }
        }
    }

    &_no-brd {
        border: none;
        color: $yellow;
        background-color: inherit;

        &:hover {
            color: #0A8817;
        }

        &:active {
            color: white;
        }
    }
}
