.locs-modal {
    padding: 2rem 3.75rem;
    gap: 2rem;
}

@media(max-width:768px) {
    .locs-modal {
        h2 {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        iframe {
            max-width: 14.0625rem;
        }
    }
}

@media(max-width:426px) {
    .locs-modal {
        padding: 1.75rem;
    }
}