.made {
    padding: 3.75rem 0 11.25rem;
    background-color: $green;
    color: $text-light;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        margin-bottom: .75rem;
    }

    &__title {
        margin-bottom: 5.125rem;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 6.25rem;
        margin-bottom: 3.75rem;
    }

    &__image {
        max-width: 31.25rem;
    }

    &__description {
        max-width: 28.9375rem;
        article {
            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            &:not(:first-child) {
                font-size: .875rem;
                line-height: 1.6875rem;
            }

            &:last-child {
                margin-bottom: 3rem;
            }
        }
    }

    &__stats {
        display: flex;
        gap: 2rem;
        row-gap: 1.75rem;
    }

    &__stats-item {
        max-width: 23.0625rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 3.125rem;
            margin-bottom: 2.5rem;
        }

        h4 {
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 3.625rem;
            line-height: 4.4375rem;
        }

        p{
            text-align: center;
        }
    }
}


@media(max-width:1024px) {
    .made {
        padding-bottom: 12.75rem;

        &__container {
            padding: 0 2rem;
        }

		&__subtitle {
            font-size: 1.375rem;
            line-height: 1.6875rem;
		}

		&__title {
            font-size: 2.125rem;
            line-height: 2.6875rem;
            text-align: center;
		}

		&__content {
            gap: 2rem;
            justify-content: center;
            flex-wrap: wrap;
		}

		&__image {
            max-width: 21.25rem;
            margin-bottom: 0;
		}

		&__description {
            max-width: 20.75rem;
            
            article {
                font-size: .75rem;
                line-height: 1.3125rem;
            }
		}

		&__stats {
            gap: 5rem;
            justify-content: center;
            flex-wrap: wrap;
		}

		&__stats-item {
            max-width: 9.5rem;

            h4 {
                font-size: 3rem;
                line-height: 3.6875rem;
            }

            p {
                font-size: .875rem;
                line-height: 1.5rem;
            }
		}
    }
}

@media(max-width:426px) {
    .made {
        padding-bottom: 3.75rem;

		&__subtitle {
            font-size: 1.125rem;
            line-height: 1.375rem;
		}

		&__title {
            font-size: 1.875rem;
            line-height: 2.375rem;
            margin-bottom: 2rem;
		}

		&__content {
            gap: 2.5rem;
            margin-bottom: 2.625rem;
		}

		&__image {
            max-width: 17.5rem;
		}

		&__description {
            text-align: center;
            font-size: .75rem;
            line-height: 1.3125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
		}

		&__stats {
            gap: 1.6875rem;
		}

		&__stats-item {
            h4 {
                font-size: 2.25rem;
                line-height: 2.625rem;
            }

            p {
                font-size: .75rem;
                line-height: 1.25rem;
            }
		}
    }
}